img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.layout {
  width: 98vw;
  height: 1080px;
  display: grid;
  grid:
    "header header header  header header header header header" auto
    ". body body body body rightSide rightSide ." 1fr
    "footer footer footer footer footer footer footer footer" auto
    / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
  background-color: #f4f4f4;
}
.card{
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
  margin-bottom: 10px;
  text-align: center;
  background-color: #fff
}

.body > .card{
  height: 600px;
}
.body > .card > button{
  background-color: #fff;
  color: red;
  border: 2px solid red;
  font-size: 16px;
  cursor: pointer;
}
.header {
  grid-area: header;
  width: 100%;
  
}
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 35px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}

.nav-main{
  width: 80vw;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#blog-title{
  text-align: center;

}
#title-word{
  color: gold;
  font-style: italic;
}
.social-media{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}
.body {
  grid-area: body;
  
}
.rightSide {
  grid-area: rightSide;
}
.bio-card{
  background-image: url(/images/beth-hope-h_qQdUOxQ9Y-unsplash.jpg);
  background-position: top;
  background-size: contain;
}
#bio-background{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
#bio-picture{
  border-radius: 50%;
  height: 50%;
  width: 50%;
  object-fit: contain;
  object-position: center top;
  margin-top: 10px;
}
.bio-info{
  background-color: #fff;
  padding-bottom: 5px;
}
.newsletter-card{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
}
.newsletter-card > button{
  background-color: red;
  color: #fff;
  border: 2px solid red;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
}
.footer {
  grid-area: footer;
  background-color: rgb(47, 47, 47);
  color: red;
}
